/* _content/StudentManagementSystem/Views/Notification/Index.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-j1wcez698t] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-j1wcez698t] {
  color: #0077cc;
}

.btn-primary[b-j1wcez698t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-j1wcez698t], .nav-pills .show > .nav-link[b-j1wcez698t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-j1wcez698t] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-j1wcez698t] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-j1wcez698t] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-j1wcez698t] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-j1wcez698t] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/StudentManagementSystem/Views/Payment/Bkash.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-c953csuk1l] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-c953csuk1l] {
  color: #0077cc;
}

.btn-primary[b-c953csuk1l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-c953csuk1l], .nav-pills .show > .nav-link[b-c953csuk1l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-c953csuk1l] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-c953csuk1l] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-c953csuk1l] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-c953csuk1l] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-c953csuk1l] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/StudentManagementSystem/Views/Payment/Nagad.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ftc5wtj32w] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ftc5wtj32w] {
  color: #0077cc;
}

.btn-primary[b-ftc5wtj32w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ftc5wtj32w], .nav-pills .show > .nav-link[b-ftc5wtj32w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ftc5wtj32w] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ftc5wtj32w] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ftc5wtj32w] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ftc5wtj32w] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ftc5wtj32w] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/StudentManagementSystem/Views/Payment/OfflineInstructions.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-d93qhlq2wj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-d93qhlq2wj] {
  color: #0077cc;
}

.btn-primary[b-d93qhlq2wj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-d93qhlq2wj], .nav-pills .show > .nav-link[b-d93qhlq2wj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-d93qhlq2wj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-d93qhlq2wj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-d93qhlq2wj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-d93qhlq2wj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-d93qhlq2wj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/StudentManagementSystem/Views/Payment/Rocket.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-2jvygvoptz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-2jvygvoptz] {
  color: #0077cc;
}

.btn-primary[b-2jvygvoptz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2jvygvoptz], .nav-pills .show > .nav-link[b-2jvygvoptz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-2jvygvoptz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2jvygvoptz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2jvygvoptz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2jvygvoptz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-2jvygvoptz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/StudentManagementSystem/Views/Shared/_CaptchaPartial.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-aq79m9esei] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-aq79m9esei] {
  color: #0077cc;
}

.btn-primary[b-aq79m9esei] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-aq79m9esei], .nav-pills .show > .nav-link[b-aq79m9esei] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-aq79m9esei] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-aq79m9esei] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-aq79m9esei] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-aq79m9esei] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-aq79m9esei] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/StudentManagementSystem/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kqem6kkl2p] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kqem6kkl2p] {
  color: #0077cc;
}

.btn-primary[b-kqem6kkl2p] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kqem6kkl2p], .nav-pills .show > .nav-link[b-kqem6kkl2p] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kqem6kkl2p] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kqem6kkl2p] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kqem6kkl2p] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kqem6kkl2p] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kqem6kkl2p] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
